<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Eadesigndev_Smsxpertmessaging>
            <version>1.0.1</version>
        </Eadesigndev_Smsxpertmessaging>
    </modules>
    <global>
        <helpers>
            <smsxpertmessaging>
                <class>Eadesigndev_Smsxpertmessaging_Helper</class>
            </smsxpertmessaging>
        </helpers>
        <blocks>
            <smsxpertmessaging>
                <class>Eadesigndev_Smsxpertmessaging_Block</class>
            </smsxpertmessaging>
        </blocks>
        <models>
            <smsxpertmessaging>
                <class>Eadesigndev_Smsxpertmessaging_Model</class>
            </smsxpertmessaging>
        </models>
        <events>
            <sales_order_place_before>
                <observers>
                    <send_sms>
                        <type>model</type>
                        <class>smsxpertmessaging/observer</class>
                        <method>sendSms</method>
                    </send_sms>
                </observers>
            </sales_order_place_before>
            <sales_order_shipment_save_after>
                <observers>
                    <send_sms_complete>
                        <type>model</type>
                        <class>smsxpertmessaging/observer</class>
                        <method>sendSmsCompleate</method>
                    </send_sms_complete>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sms_settings>
                                            <title>EaDesign SMS</title>
                                        </sms_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>